<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multer || File Uploading</title>
</head>
<body>
    <h1>Hey Welcome to File Uploading || Multer</h1>

    <form action="/upload" enctype="multipart/form-data" method="post">
        <input type="file" name="proImage">
        <button type="submit">upload</button>
    </form>
</body>
</html>