<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login || ShortUrl</title>
</head>
<body>
    <div>
        <h1>Login your Account</h1>
        <form action="/user/login" method="post">
            <label>Enter Your Email ID : </label>
            <input type="text" name="email" placeholder="Enter your email id">
            <br><br>
            <label>Enter Your password : </label>
            <input type="text" name="password" placeholder="Enter your password">
            <br><br>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>